/* responsive web  */
/* Desktop */
@media(min-width :1024){
    
}



/* 10 event 
p{
    height: 100px;
    width: 100px;
    background-color: chartreuse;
} */




/* 7 */
/* #box{
    align-content: center;
    text-align: center;
    height: 150px;
    width: 150px;
    background-color: aquamarine;
    color: rgb(166, 0, 255);
    margin: 5px;
    padding: 5px;
    border: 3px solid black;
}  */







/* 5.
.box{
    align-content: center;
    text-align: center;
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    color: blue;
    margin: 5px;console.log
    padding: 5px;
    border: 3px solid black;
} */